.main-layout {
  height: 100vh;
  min-height: 100vh;

  .sidebar,
  .note-list,
  .main-content {
    height: 100%;
    min-height: 0;
  }
}

.main-content {
  flex: 1;
  padding: 16px;
  background-color: #f7f9fa;
  display: flex;
}
